<link href="/stylesheets/header.css" rel="stylesheet">

<nav class="navbar navbar-expand-lg mb-4">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="bi bi-archive me-2"></i>
            Sistema de Gestión de Protestos
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/consultar">
                        <i class="bi bi-files me-1"></i>Gestión de Datos
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/formulario">
                        <i class="bi bi-plus-circle me-1"></i>Nuevo
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="bi bi-gear me-1"></i>Opciones
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>