<div class="modal fade" id="addCiudadModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Añadir Ciudad</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <form id="addCiudadForm">
            <div class="mb-3">
              <label for="nombreCiudad" class="form-label">Nombre</label>
              <input type="text" class="form-control" id="nombreCiudad" name="nombre" required>
            </div>
            <div class="mb-3">
              <label for="paisCiudad" class="form-label">País</label>
              <input type="text" class="form-control" id="paisCiudad" name="pais" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>