<div class="modal fade" id="addCamposModal" tabindex="-1" aria-labelledby="addCamposModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCamposModalLabel">Añadir campos adicionales</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="list-group">
            <button type="button" class="list-group-item list-group-item-action" id="btnAddComentario">
              <i class="bi bi-chat-text"></i> Comentario
            </button>
            <button type="button" class="list-group-item list-group-item-action" id="btnAddRoles">
              <i class="bi bi-people"></i> Roles adicionales
            </button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>